<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc https://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <context:component-scan base-package="com.cxf.ssm_one.controller"/>

    <!--使用注解@RequestMapping-->
    <mvc:annotation-driven/>

    <!--配置视图解析器-->
    <!--<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">-->
        <!--<property name="prefix" value="/WEB-INF/view/"/>-->
        <!--<property name="suffix" value=".jsp"/>-->
    <!--</bean>-->

    <!--配置多视图解析器-->
    <bean class="org.springframework.web.servlet.view.ContentNegotiatingViewResolver">
        <!--配置jsp视图解析器-->
        <property name="viewResolvers">
            <list>
                <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
                    <property name="prefix" value="/WEB-INF/view/"/>
                    <property name="suffix" value=".jsp"/>
                </bean>
            </list>
        </property>
        <!--配置其他类型的视图解析器-->
        <property name="defaultViews">
            <list>
                <bean class="com.cxf.ssm_one.view.XlsxView"/>
                <bean class="com.cxf.ssm_one.view.PdfView"/>
                <bean class="org.springframework.web.servlet.view.xml.MappingJackson2XmlView"/>
                <bean class="org.springframework.web.servlet.view.json.MappingJackson2JsonView"/>
            </list>
        </property>
    </bean>

    <!--配置拦截器-->
    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/login"/>
            <bean class="com.cxf.ssm_one.interceptor.MyInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>

    <!--配置多部分解析器-->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!--设置上传文件的编码-->
        <property name="defaultEncoding" value="UTF-8"/>
        <!--设置上传文件的大小，单位为字节-->
        <!--1M = 1024*1024-->
        <property name="maxUploadSize" value="10485760"/>
    </bean>

    <!--配置静态资源映射-->
    <mvc:resources mapping="/upload/**" location="/upload/"/>

    <!--shiro框架角色roles和权限permissions注解的配置，注意：这个配置必须放在mvc这个配置文件中注解才能生效-->
    <!--这个配置是从shiro官方文档spring配置中的注解部分复制过来的-->
    <bean class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator" depends-on="lifecycleBeanPostProcessor"/>
    <bean class="org.apache.shiro.spring.security.interceptor.AuthorizationAttributeSourceAdvisor">
        <property name="securityManager" ref="securityManager"/>
    </bean>

</beans>
